language: python
python:
  - "3.7"
install:
  - pip install -e .
  - pip install "setuptools<34"
  - pip install -r dev-requirements.txt
# command to run tests
script: pytest
after_success:
  # Upload coverage data to codecov
  - codecov
notifications:
  email: skeptycal@gmail.com
